*{
    font-family: 'Poppins';
    box-sizing: border-box;
}
header{
    background: linear-gradient(100deg,white 50%,rgb(255, 189, 66) 50%);
}
.logo{
    position: static;
    float: left;
}
.name, .name-1{
    position: relative;
    top: 10px;
    font-size: 3em;
    font-family: 'Lobster';

}
.color{
    font-family: 'Lobster';
    color: #F6B400;
}
.column-1{
    width: 50%;

}
.row{
    width: 100%;
    display: flex;
    padding-top: 5px;

    
}
.column-2{
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-weight: 600;
    width: 50%;
}
.column-3{
    padding-left: 100px;
    padding-top: 200px;
    width: 50%;
    font-size: large;
}
.column-4{
    width: 50%;
}
.column{
    width: 50%;
}
.image{
    box-sizing: border-box;
    width: 100%;
}
#ordernow{
    width: 130px;
    height: 50px;
    background-color: #F6B400;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    color: white;
    border: #F6B400;
}

.column-5{
    border: purple solid 1px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 28%;
    text-align: center;
}
.column-6{
    border: purple solid 1px;
    margin: 20px;
    margin-left: 40px;
    padding: 20px;
    border-radius: 10px;
    width: 38%;
    text-align: center;
}
.column-7{
    border: purple solid 1px;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}
.title{
    color: maroon;
    font-size: xx-large;
    font-weight: 600;
}
.name-1{
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
    font-family: 'Poppins';
    font-weight: 600;
}
.underline{
    width: 8em;
    height: 1em;
    background-color: #F6B400;
    border: #F6B400;
}
#color{
    font-family: 'Poppins';
    font-weight: 600;
}
