* {
    font-family: 'Poppins';
    box-sizing: initial;
}
.navbar{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.intro{
    text-align: center;
}
.column{
    float: left;
    width: 50%;
    flex: 50%;
}
.row{
    display: flex;
}
.advert, .button{
    background-color: #F6B400;
}
.advert{
    padding: 2em;
    padding-top: 5em;
    padding-bottom: 5em;
    font-size: 2em;
}
.footer{
    font-size: 1.2em;
    /* display: flex;
    flex-direction: column; */
}
ul{
    list-style-type: none;
}
/* img{
    max-width: 50%;
} */
.smap{
    font-size: 1.5em;
    font-weight: 600;
}
.promotion, .offers{
    background-color: #E1EBE6;
}
.navbar a{
    display: flex;
    flex-direction: column;
}
.background{
    padding: 4em;
    font-size: 1.2em;
    text-align: left;
}
#oderNow{
    width: 50%;
}
/* .menu{
    border: solid;
    border-radius: 20;
} */
#bottom{
    font-size: small;
    justify-content: center;
}
.title{
    font-family: 'Lobster';
    font-size: 3em;
}
.images img{
    width: 30%;
    margin: 1.5em;
    border-radius: 1.5em;
    /* border-end-end-radius: 2em; */
    padding-right: 0%;
    float: right;
}
/* #bottom.column{
    float: left;
    width: 33.33%;
} */
.image img{
    border-radius: 1pc;
    border-top-left-radius: 1pc;
    border-top-right-radius: 1pc;
    width: 30%;
    padding-left: 0%;
    padding-top: 2em;
}
.advert h1{
    padding-top: 3em;
}.promotion{
    display: flex;
}
#title{
    color: #F6B400;
}