* {
    font-family: 'Poppins';
    box-sizing: initial;
}
.navbar{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.intro{
    /* text-align: center; */
}
.column{
    float: left;
    /* display: flex; */
    width: 50%;
    flex: 50%;
}
.row{
    display: flex;
}
.advert, .button{
    background-color: #F6B400;
}
.advert{
    padding: 5em;
    padding-top: 10em;
    padding-bottom: 10em;
    font-size: 2em;
}
.footer{
    font-size: 1.2em;
    /* display: flex;
    flex-direction: column; */
}
ul{
    list-style-type: none;
}
img{
    max-width: 50%;
}
.smap{
    font-size: 1.5em;
    font-weight: 600;
}
.promotion, .offers{
    background-color: #E1EBE6;
}
.navbar a{
    display: flex;
    flex-direction: column;
}
.background{
    padding: 4em;
    font-size: 1.2em;
    text-align: left;
}
#oderNow{
    width: 50%;
}
{
    border: solid;
    border-radius: 20;
}